/* General body styles */
body {
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
}

/* Navbar styles */
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8em;
}

/* Mobile nav list */
#nav-list a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

/* Page title */
#menu-title {
  margin-bottom: 30px;
}

/* Menu item tiles */
.menu-item-tile {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 15px;
  margin-bottom: 30px;
}

/* เพิ่มช่องว่างด้านล่างให้ต้อง scroll แน่ ๆ */
.menu-item-tile p {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #main-content {
    margin-bottom: 60px;
  }
}
